
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/">
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/nstyle.min.css">
  <link rel="shortcut icon" type="image/icon" href="images/favicon.png"/>
  
  <style type="text/css">
  .Username {
    color: #FFD821;
  }
  body {
    background-color: #101010;
  }
  </style>
  <script type="text/javascript" src="stylesheets/jquery.min.js"></script>
  <script type="text/javascript" src="stylesheets/bootstrap.min.js"></script>
  <script type="text/javascript" src="stylesheets/bootstrap-noconflict.js"></script>
  <script type="text/javascript" src="stylesheets/jquery-ui-no-conflict.min.js"></script>
  
  <script type="text/javascript" src="stylesheets/bootstrap-noconflict.js"></script>
  <script type="text/javascript" src="stylesheets/jquery-ui-no-conflict.min.js"></script>
  <script type="text/javascript" src="stylesheets/main.min.js"></script>
  
  
  
  <title>UniccShop.Bazar - Add Funds For Activation</title>
  
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
  <div class="imageline"><span>We</span> Work <span>For Your</span> Profit</div>
  
          <header class="header">
          <!--[if !IE]>
  <style>
      .form-control {
          background-image: none;
      }
  
      .col-md-5 {
          width: 41.66666667%;
      }
  </style>
  <![endif]-->
  <!--[if !IE 8]>
  <style>
      .form-control {
          background-image: none;
      }
  
      .col-md-5 {
          width: 41.66666667%;
      }
  </style>
  <![endif]-->
  <!--[if !IE 9]>
  <style>
      .form-control {
          background-image: none;
      }
  
      .col-md-5 {
          width: 41.66666667%;
      }
  </style>
  <![endif]-->
  <div class="topline">
      <div class="main_width">
          <div class="logo"><a href="/index"></a></div>
          <ul class="topmenu">
  <li class="news"><a href="/index">NEW<span>S</span><i></i></a>
              </li>
              <li class="buy pmenu"><a>BU<span>Y</span><i></i></a>
    <ul>
      <li><a href="/index">products</a></li>
    <li><a href="/index">ssn search</a></li>
  <li><a href="/index">preorder</a></li>
                  </ul>
              </li>
              <li class="orders">
                  <a href="/index">ORDER<span>S</span><i></i></a></li>
              <li class="billing pmenu"><a>BILLIN<span>G</span><i></i></a>
                  <ul>
                      <li><a href="/index">bitcoin</a></li>
                      <li><a href="/index">litecoin</a></li>
                      <li><a href="/index">binance</a></li>
                      <li><a href="/index">ethereum</a></li>
                      <li><a href="/index">history</a></li>
                  </ul>
              </li>
              <li class="checkers pmenu"><a>CHECKER<span>S</span><i></i></a>
                  <ul>
                      <li><a href="/index">Balance</a></li>
                      <li><a href="/index">PayPal</a></li>
                      <li><a href="/index">Separate</a></li>
                  </ul>
              </li>
              <li class="binbase">
                  <a href="//">BINBAS<span>E</span><i></i></a></li>
    <li class="support pmenu"><a>SUPPOR<span>T</span><i></i></a>
                  <ul>
                      <li><a href="/index">tickets</a></li>
                      <li><a href="/index">change password</a></li>
                      <li><a href="/faq">Faq</a></li><li><a href="/terms">Terms</a></li>                </ul>
              </li>
          </ul>
          <div class="bc_info">
              <div class="balance"><a href="/index"><span>balance</span><b>0 $</b></a></div>
              <div class="card"><a href="/index"><span>cart</span></a><b id="items_block"> &nbsp;0</b></div>
          </div>
          <div class="logout"><a href="/login"></a></div>
      </div>
  </div>     </header>
  
  
  <div class="content">
    <div class="fix_width">
      <div class="alert alert-danger text-center"> Greetings friends and welcome to UNICCSHOP<br>
  Your account is inactive at the moment.<br>
  You can't observe available materials and use service in full.<br>
  Please top up the account for 100$ for New Activation<br>
   </div>
      <div style="text-align: center; margin:0px auto; max-width:1024px;">
        <div style="width:475px;margin-right:74px;" class="well pull-left">
          <div style="text-align: center">
            <h1>BNB (BEP20)</h1>
  
            Binance Coin (BEP20) address to transfer funds:<br>
            <div class="alert alert-block alert-success" id="bnbAddressBlock"><p>bnb1a8sr9ppea23t23rdfny9a4amwtk7lpyk9cuwze</p></div>
            <i class="yes">After more than 500$+ topup, you will get 50% bonus!</i></div>
  
  </div>
  
        <div style="width:475px;margin-right:74px;" class="well pull-left">
          <div style="text-align: center">
            <h1>LTC</h1>
  
            Litecoin address to transfer funds:<br>
            <div class="alert alert-block alert-success" id="ltcAddressBlock"><p>ltc1q3g8j22caxgu7wpe9g9atsglxjgrdtnjmmntxm5</p></div>
            <i class="yes">After more than 500$+ topup, you will get 50% bonus!</i></div>
  
  </div>
  
        <div style="width:475px;" class="well pull-left">
          <div style="text-align: center">
            <h1>BTC</h1>
  
            Bitcoin address to transfer funds:<br>
            <div class="alert alert-block alert-success" id="btcAddressBlock"><p><b>bc1qmet9p4pdth6v6hrzhcuntnj2ercaqpcd65pf0x</b></p></div>
      <i class="yes">After more than 1k$+ topup, you will get 100% bonus!</i></div>
  
  </div>
  
  <div style="width:475px;" class="well pull-left">
  <div style="text-align: center">
  <h1>ETH</h1>
  
            Ethereum address to transfer funds:<br>
           <div class="alert alert-block alert-success" id="ethAddressBlock"><p>0x0468d6C0b866F4c676BE1B0A697C8D401E7d5C7a</p></div>
            <i class="yes">After more than 500$+ topup, you will get 50% bonus!</i></div>
  
  
  
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="footer">
    <a href="/index" class="support"><span>S</span>UPPORT</a>
    <a href="/faq" class="faq"><span>F</span>AQ</a>
    <a href="/terms" class="terms"><span>T</span>ERMS OF USE</a>
</div>
  <script type="text/javascript" src="css/main.min.js"></script>
  <script type="text/javascript" src="css/placeholders.min.js"></script>
  <script type="text/javascript">
  /*<![CDATA[*/
  jQuery(function($) {
  jQuery('[data-toggle=popover]').popover();
  jQuery('[data-toggle=tooltip]').tooltip();
  });
  /*]]>*/
  </script>
  
  
  </body></html>