<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" type="image/icon" href="images/favicon.png"/>
<link rel="stylesheet" type="text/css" href="stylesheets/main.min.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/nstyle.min.css" /><style type="text/css">
    
body
{background-color: #101010;}
</style>
<script type="text/javascript" src="stylesheets/jquery.min.js"></script>
<script type="text/javascript" src="stylesheets/bootstrap.min.js"></script>
<script type="text/javascript" src="stylesheets/bootstrap-noconflict.js"></script>
<script type="text/javascript" src="javascripts/user.js"></script>
<script type="text/javascript" src="javascripts/sha1.js"></script>
<title>Unicvv - Login</title>

<meta name="keywords"content="unicvv, unicvv login, unicvv shop, unicvv legit, unicc, unicc cm, unicc ru, uniccshop.bazar, unicvv new domain, unicv, https://unicc.cc, unicvv reddit, unicvv down, unicvv closed, unicvv link, unicvv tor, unicvv onion, unicvv telegram, unicvv facebook, unicvv instagram, unicvv forum, unicvv site, unicvv 2022, unicvv online, unicc cc"/>

<meta name="description" content="Uniccshop.Bazar - Login Area Unicvv Dumps Online Shop 2022">
</head>
<h1 style="font-size: 9px; color: #121212;">unicvv uniccshop unicvv login unicvv shop unicvv legit unicc unicc cm unicc ru uniccshop bazar unicvv new domain unicv unicvv reddit unicc shop unicvv down unicvv closed unicvv link unicvv tor unicvv onion unicvv telegram unicvv facebook unicvv instagram unicvv forum unicvv site unicvv 2022 unicc cc</h1>
<body class='login'><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5LMPS8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<form class="form-signin form" autocomplete="off" id="login-form" action="/index-post" method="post">
<div class='blocklogin'>
<div class='titlelogin'>
  <img  src='images/logo.png'>

<p>login area</p>
    </div>
    <div class='loginform'>
        <div class='inputslogin'>


        			<input type="hidden" name="op" value="login"/>
					<input type="hidden" name="sha1" value=""/>


  <label for='name'><img alt="uniccshop" src='images/uniccshop.png'></label>
<div class="form-group"><div><input class="form-control" placeholder="Username" name="username" id="LoginForm_username" type="text" /><div class="help-block error" id="LoginForm_username_em_" style="display:none"></div></div></div>            <label for='pass'><img src='images/log_pass.png'></label>
            <div class="form-group"><div><input class="form-control" placeholder="Password" name="password1" id="LoginForm_password" type="password" /><div class="help-block error" id="LoginForm_password_em_" style="display:none"></div></div></div>

           <nofollow><a href='javascript:if(confirm)window.location="https://youtu.be/LIGEDKYODMU"' class='wtchvdo' rel="noreferrer">Watch our PROMO video Unicvv.Ru Credit Cards Dumps Shop 2022</a></nofollow>
       <a href="#"  onclick="document.getElementById('login-form').submit();"><button type='button' >enter</button></a>
            <a href="/register"><button type='button'>register</button></a>
        </div>

        <div id="resetPasswordNotification" class="text-center alert alert-danger hide">
            <strong>Warning: if you had password that is less than 8 characters long or username less than 6 characters
long you
                will have to reset them!</strong><br/>
            <strong><a href="javascript:if(confirm('https://unicvv.ru/\n\nThis file was not retrieved because it was filtered out by your project settings.\n\nWould you like to open it from the server?'))window.location='https://unicvv.ru/'">Follow this link to reset your
  password.</a></strong>
        </div>
        <div id="yw0"></div>    </div>

</div>
</form>
<span style="text-align: center">



    <script>
    $(function () {
        $(document).on('blur', '#LoginForm_username', function () {
            var length = $('#LoginForm_username').val().length;
            if (length > 0 && length < 6) {
                $('#resetPasswordNotification').removeClass('hide');
                $('#resetPasswordNotification')[0].scrollIntoView();
                $("#LoginForm_username").val("");
                $("#LoginForm_username").focus();
                alert("비우면 안 됩니다!!");
                return false;
            } else if (length >= 6) {
                $('#resetPasswordNotification').addClass('hide');
            }
        });
        $(document).on('blur', '#LoginForm_password', function () {
            var length = $('#LoginForm_password').val().length;
            if (length > 0 && length < 8) {
                $('#resetPasswordNotification').removeClass('hide');
                $('#resetPasswordNotification')[0].scrollIntoView();
            } else if (length >= 8) {
                $('#resetPasswordNotification').addClass('hide');
            }
        });
    });
    </script>
  <script type="text/javascript" src="stylesheets/placeholders.min.js"></script>
	</span><script type="text/javascript">
/*<![CDATA[*/
jQuery(function($) {
jQuery('[data-toggle=popover]').popover();
jQuery('[data-toggle=tooltip]').tooltip();
jQuery('#yw0_0 .alert').alert();

});
/*]]>*/
</script>

</body>
</html>